body, html {
  overflow: hidden;
  height: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #a8a8a8;
  text-align: center;
  font-family: Arial, sans-serif;
}

.home-container h1 {
  font-size: 4.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.home-container p {
  font-size: 2.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.home-text {
  margin-bottom: 8%;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.access-denied-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  text-align: center;
}

.access-denied-container p {
  color: #d9534f; 
  font-size: 1.2em;
  margin-bottom: 15px;
}

.access-denied-container button {
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.access-denied-container button:hover {
  background-color: #1b5cb8;
}
